.nav {
    border: 5px solid green;
    padding: 10px;
    position: fixed;

}

.div1 {
    border: 5px solid green;
    padding: 10px;
    position: static;

}

.div2 {
    border: 5px solid red;
    padding: 10px;
    position: relative;
    margin: 10px;
    height: 300px;

}

.div4 {
    border: 5px solid red;
    position: absolute;
    top: 100px;

}