.cambria {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #f21;
}

.online {
    font-family: "Playwrite HR", cursive;
    font-style: italic;
    font-weight: bold;
    color: rgb(44, 55, 222);
}

* {
    font-size: 30px;
}