.alignment {
    text-align: center;
}

.decoration {
    text-decoration: line-through;
}

.justify {
    text-align: justify;
}

.shadow {
    text-shadow: 3px 5px red;
    word-spacing: 10px;
}

.love {
    font-size: 3rem;
}